<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cappuccino.dao.GoodstypesMapper">
	<resultMap type="com.cappuccino.pojo.Goodstypes"
		id="GoodstypesMapper">
		<id column="goodstypesId" property="goodstypesId" />
		<result column="goodstypesName" property="goodstypesName" />
		<result column="goodstypeId" property="goodstypeId" />
	</resultMap>
	<select id="getGoodsTypes_all" resultMap="GoodstypesMapper">
		select * from goodstypes
	</select>
</mapper>